@import "node_modules/bootstrap/scss/bootstrap";

body{
  background-color: black;
}
$primary: Grey;

* {font-size: 20px;}

.login .form-control:not(:active){
  background-color: rgb(255, 255, 255)
}

.signup .form-control:not(:active){
  background-color: rgb(255, 255, 255)
}
.profile .form-control:not(:active){
  background-color: rgb(255, 255, 255)
}